@tailwind base;
@tailwind components;

body {
    @apply bg-gray-100
        text-gray-950
        font-sans
        antialiased
        flex
        items-center
        justify-center
        h-screen
        dark:bg-gray-900
        dark:text-gray-50;
}

main {
    @apply bg-white
        border
        border-gray-200
        rounded-lg
        shadow-md
        p-6
        w-1/2
        dark:bg-gray-800
        dark:border-gray-700
        dark:shadow-none;
}

header {
    h1 {
        @apply text-2xl
            font-semibold
            mb-4;
    }

    p {
        @apply text-gray-600
            mb-4
            dark:text-gray-400;
    }
}

p {
    @apply text-lg
        mb-4;
}

button, input[type="submit"] {
    @apply bg-indigo-500
        hover:bg-indigo-700
        text-white
        font-bold
        py-2
        px-4
        rounded
        focus:outline-none
        focus:ring
        focus:ring-indigo-300
        disabled:opacity-50
        disabled:cursor-not-allowed
        dark:bg-indigo-600
        dark:hover:bg-indigo-800
        dark:focus:ring-indigo-700;
}

textarea {
    @apply block
        w-full
        p-2
        border
        border-gray-300
        rounded-md
        focus:outline-none
        focus:ring
        focus:ring-indigo-300
        dark:border-gray-700
        dark:focus:ring-indigo-700
        dark:bg-gray-800;
}

a {
    @apply text-indigo-500
        hover:underline
        focus:outline-none
        focus:ring
        focus:ring-indigo-300
        dark:text-indigo-400
        dark:focus:ring-indigo-700;
}

details {
    @apply mt-4
        flex
        flex-col
        gap-2;

    summary {
        @apply cursor-pointer
            p-2
            rounded-t-md
            border-b-2
            border-indigo-300
            hover:bg-indigo-100
            focus:outline-none
            focus:ring
            mb-2
            focus:ring-indigo-300
            dark:border-indigo-600
            dark:hover:bg-indigo-900
            dark:focus:ring-indigo-700;
    }
}

label {
    @apply text-sm
        inline-flex
        flex-col
        gap-1.5
        font-semibold;
    
    input {
        @apply block
            w-full
            p-2
            border
            border-gray-300
            rounded-md
            focus:outline-none
            focus:ring
            focus:ring-indigo-300
            dark:border-gray-700
            dark:focus:ring-indigo-700
            dark:bg-gray-800;
    }
}

code {
    @apply text-sm
        bg-gray-100
        rounded-md
        p-1
        dark:bg-gray-800;
}

form {
    @apply flex
        flex-col
        gap-4;
}
